*.aux
*.blg
*.log
*.synctex.gz
*.bbl
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.nlo
*.syg
*.toc
*.out
*.bcf
*.glsdefs
*.nls
*.sub
*.suc
*.syc
*.sym
*.run.xml
*checkpoint.ipynb
*.DS_Store
*__pycache__*
